@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d6dae4;
  font-family: 'Roboto', sans-serif;
  overflow-x: visible;
}

p {
  margin: 0;
}

.page-container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(180px, 1fr) minmax(500px, 5fr);
      grid-template-columns: minmax(180px, 1fr) minmax(500px, 5fr);
}

.sidebar-section {
  width: 100%;
  height: 100vh;
  background-color: white;
  border-right: #c0c0c0 1px solid;
}

.sidebar-section .top-nav-section {
  width: 100%;
  color: #898989;
  height: 7vh;
  border-bottom: 1px solid #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-section .profile-section {
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #c0c0c0;
}

.sidebar-section .profile-section .image-container {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 50%;
  background-image: url("/src/assets/images/pp.jpg");
  background-size: cover;
  background-position: center;
}

.sidebar-section .profile-section .image-container .change-icon {
  color: #898989;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar-section .profile-section .details-section .name {
  color: #2c2c2c;
  text-align: center;
  font-weight: bold;
}

.sidebar-section .profile-section .details-section .subtext {
  margin-top: 5px;
  color: #898989;
  font-size: 0.9em;
  text-align: center;
}

.sidebar-section .menu-section {
  width: auto;
  padding-top: 20px;
  margin: 0px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar-section .menu-section .menu-item {
  width: auto;
  font-size: 0.8em;
  font-weight: 500;
  padding: 15px 0px;
  border-bottom: 1px solid #c0c0c0;
  cursor: pointer;
}

.sidebar-section .menu-section .menu-item:hover .menu-icon {
  color: #1354d6;
}

.sidebar-section .menu-section .menu-item .menu-icon {
  color: #898989;
  margin-right: 10px;
}

.sidebar-section .menu-section .recently-viewed {
  width: 100%;
  margin: 15px 0;
  padding-top: 10px;
}

.sidebar-section .menu-section .recently-viewed .subhead {
  font-size: 0.7em;
  color: #898989;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.sidebar-section .menu-section .recently-viewed .recent-items {
  font-size: 0.8em;
  width: 100%;
  padding: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  cursor: pointer;
}

.sidebar-section .menu-section .recently-viewed .recent-items .recent-icons {
  color: #898989;
}

.sidebar-section .menu-section .bottom-section {
  font-size: 0.7em;
  position: absolute;
  bottom: 10px;
  font-weight: bold;
}

.sidebar-section .menu-section .bottom-section .subtext {
  margin-top: 5px;
  font-weight: 500;
  color: #898989;
}

.main {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #c0c0c0;
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid #c0c0c0;
  background-color: white;
}

.main .navbar header {
  margin-left: 20px;
}

.main .navbar #lan-select {
  margin-right: 20px;
}

.main .main-container {
  width: 100%;
}

.main .main-container .daily-visitors {
  margin: 20px;
  padding: 20px;
  border: 1px solid #c0c0c0;
  background-color: white;
  color: #182f95;
}

.main .main-container .daily-visitors .top-heading {
  width: auto;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.main .main-container .daily-visitors .top-heading h3 {
  margin: 0;
  color: #2c2c2c;
}

.main .main-container .daily-visitors .bar-chart {
  margin-top: 30px;
  width: 100%;
  height: 170px;
}

.main .main-container .middle-grid {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5em;
  -ms-grid-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
      grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main .main-container .middle-grid .grid-items {
  background-color: white;
  padding: 20px;
  border: 1px solid #c0c0c0;
}

.main .main-container .middle-grid .grid-items .heading-grid {
  color: #898989;
  text-transform: uppercase;
  margin: 0;
  font-size: 0.7em;
  font-weight: bold;
}

.main .main-container .middle-grid .grid-items h1 {
  margin: 8px;
  color: #2c2c2c;
}

.main .main-container .middle-grid .grid-items .per-change {
  margin: 0;
  color: green;
}

.main .main-container .middle-grid .grid-items .line-charts-show {
  height: 70px;
  width: 100%;
  margin-top: 20px;
}

.main .main-container .tables {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5em;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.main .main-container .tables h3 {
  margin: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c0c0c0;
}

.main .main-container .tables .most-visited-pages {
  border: 1px solid #c0c0c0;
  background-color: white;
  padding: 20px;
}

.main .main-container .tables .most-visited-pages .share-icon {
  color: #898989;
  float: right;
}

.main .main-container .tables .most-visited-pages .line-charts-table {
  height: 30px;
  width: 100px;
  padding: 0px;
}

.main .main-container .tables .social-media-traffic {
  padding: 20px;
  background-color: white;
  border: 1px solid #c0c0c0;
}

.main .main-container .tables .social-media-traffic .process-line {
  border-radius: 10px;
  width: 160px;
  height: 5px;
  overflow: hidden;
  background-color: #c0c0c0;
}

.main .main-container .tables .social-media-traffic .process-line .checked {
  border-radius: 10px;
  height: 6px;
  background-color: #0c2e6a;
}

table {
  width: 100%;
}

table thead {
  color: #898989;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid #0c2b6a;
  padding: 20px;
}

table tr {
  padding: 10px 0px;
  font-size: 0.9em;
}

table tr th {
  padding: 10px;
  font-size: 0.8em;
  height: 40px;
  text-transform: uppercase;
}

table tr td {
  height: 40px;
  padding: 13px;
}

select {
  background-color: transparent;
  border: 1px solid #b0b0b0;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  margin: 0 10px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  font-size: 0.8em;
  text-transform: uppercase;
}

select option {
  padding: 15px;
  margin: 10px;
}

select:hover, select:active, select:focus {
  outline: none;
}
/*# sourceMappingURL=App.css.map */