@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

$fontcolor1: #2c2c2c;
$fontcolor2: #898989;
$fontcolor3: #c0c0c0;
$bodyBackground: rgb(214, 218, 228);
$componentBackground: white;

@mixin border($color) {
	border: 1px solid $color;
}

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-color: $bodyBackground;
	font-family: 'Roboto', sans-serif;
	overflow-x: visible;
}

p {
	margin: 0;
}

.page-container {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: minmax(180px, 1fr) minmax(500px, 5fr);
}

.sidebar-section {
	width: 100%;
	height: 100vh;
	background-color: $componentBackground;
	border-right: $fontcolor3 1px solid;

	.top-nav-section {
		width: 100%;
		color: $fontcolor2;
		height: 7vh;
		border-bottom: 1px solid $fontcolor3;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.profile-section {
		width: 100%;
		padding: 20px 0px;
		border-bottom: 1px solid $fontcolor3;
		.image-container {
			width: 100px;
			height: 100px;
			margin: auto;
			margin-bottom: 5px;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			border-radius: 50%;
			background-image: url('/src/assets/images/pp.jpg');
			background-size: cover;
			background-position: center;

			.change-icon {
				color: $fontcolor2;
				padding: 5px;
				background-color: $componentBackground;
				border-radius: 50%;
				display: inline-block;
				border-radius: 50%;
				cursor: pointer;
			}
		}
		.details-section {
			.name {
				color: $fontcolor1;
				text-align: center;
				font-weight: bold;
			}
			.subtext {
				margin-top: 5px;
				color: $fontcolor2;
				font-size: 0.9em;
				text-align: center;
			}
		}
	}

	.menu-section {
		width: auto;
		padding-top: 20px;
		margin: 0px 10%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.menu-item {
			width: auto;
			font-size: 0.8em;
			font-weight: 500;
			padding: 15px 0px;
			border-bottom: 1px solid $fontcolor3;

			cursor: pointer;

			&:hover .menu-icon {
				color: rgb(19, 84, 214);
			}
			.menu-icon {
				color: $fontcolor2;
				margin-right: 10px;
			}
		}

		.recently-viewed {
			width: 100%;
			margin: 15px 0;
			padding-top: 10px;
			.subhead {
				font-size: 0.7em;
				color: $fontcolor2;
				font-weight: bold;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
			.recent-items {
				font-size: 0.8em;
				width: 100%;
				padding: 7px 0px;
				display: flex;
				justify-content: space-between;
				font-weight: 500;
				cursor: pointer;
				.recent-icons {
					color: $fontcolor2;
				}
			}
		}

		.bottom-section {
			font-size: 0.7em;
			position: absolute;
			bottom: 10px;
			font-weight: bold;
			.subtext {
				margin-top: 5px;
				font-weight: 500;
				color: $fontcolor2;
			}
		}
	}
}

.main {
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;

	.navbar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-left: 1px solid $fontcolor3;
		width: 100%;
		height: 7vh;
		border-bottom: 1px solid $fontcolor3;
		background-color: $componentBackground;
		header {
			margin-left: 20px;
		}

		#lan-select {
			margin-right: 20px;
		}
	}

	.main-container {
		width: 100%;

		.daily-visitors {
			margin: 20px;
			padding: 20px;
			border: 1px solid $fontcolor3;
			background-color: $componentBackground;
			.top-heading {
				width: auto;
				margin: 0;
				display: flex;
				justify-content: space-between;
				padding: 10px;
				h3 {
					margin: 0;
					color: $fontcolor1;
				}
			}
			color: rgb(24, 47, 149);

			.bar-chart {
				margin-top: 30px;
				width: 100%;
				height: 170px;
			}
		}

		.middle-grid {
			margin: 20px;
			display: grid;
			grid-gap: 1.5em;
			grid-template-columns:
				minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr)
				minmax(150px, 1fr);
			justify-content: center;
			text-align: center;

			.grid-items {
				background-color: $componentBackground;
				padding: 20px;
				border: 1px solid $fontcolor3;

				.heading-grid {
					color: $fontcolor2;
					text-transform: uppercase;
					margin: 0;
					font-size: 0.7em;
					font-weight: bold;
				}
				h1 {
					margin: 8px;
					color: $fontcolor1;
				}
				.per-change {
					margin: 0;
					color: green;
				}
				.line-charts-show {
					height: 70px;
					width: 100%;
					margin-top: 20px;
				}
			}
		}

		.tables {
			margin: 20px;
			display: grid;
			grid-gap: 1.5em;
			grid-template-columns: 3fr 1fr;

			h3 {
				margin: 0px;
				padding-bottom: 20px;
				border-bottom: 1px solid $fontcolor3;
			}

			.most-visited-pages {
				border: 1px solid $fontcolor3;
				background-color: $componentBackground;
				padding: 20px;

				.share-icon {
					color: $fontcolor2;
					float: right;
				}

				.line-charts-table {
					height: 30px;
					width: 100px;
					padding: 0px;
				}
			}

			.social-media-traffic {
				padding: 20px;
				background-color: $componentBackground;
				border: 1px solid $fontcolor3;

				.process-line {
					border-radius: 10px;
					width: 160px;
					height: 5px;
					overflow: hidden;
					background-color: $fontcolor3;

					.checked {
						border-radius: 10px;
						height: 6px;
						background-color: rgb(12, 46, 106);
					}
				}
			}
		}
	}
}

table {
	width: 100%;
	thead {
		color: $fontcolor2;
		font-weight: 400;
		text-align: left;
		border-bottom: 1px solid rgb(12, 43, 106);
		padding: 20px;
	}
	tr {
		padding: 10px 0px;
		font-size: 0.9em;
		th {
			padding: 10px;
			font-size: 0.8em;
			height: 40px;
			text-transform: uppercase;
		}
		td {
			height: 40px;
			padding: 13px;
		}
	}
}

select {
	background-color: transparent;
	border: 1px solid rgb(176, 176, 176);
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
	margin: 0 10px;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	font-size: 0.8em;
	text-transform: uppercase;

	option {
		padding: 15px;
		margin: 10px;
	}
	&:hover,
	&:active,
	&:focus {
		// border: none;
		outline: none;
	}
}
